.venv/
venv/
__pycache__/
*.py[cod]

.git/
.github/
.vscode/
.idea/

.ipynb_checkpoints/
notebooks/

data/
reports/

mlruns/
mlartifacts/
mlflow.db
mlflow.db-*

models/
*.pkl
*.joblib
*.pickle

# El modelo final sí se incluye en la imagen de producción
!models/
!models/random_forest_model.joblib

.pytest_cache/
.coverage
htmlcov/

.env
.env.*

*.log
*.tmp
*.temp

README.md